* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 241);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

.each-section {
  height: 500px;
  width: 1200px;
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}

.button-row {
  display: flex;
  gap: 10px;
}

.black-button {
  color: white;
  background-color: black;
  padding: 10px;
}

.white-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

#navbar, #footer{
  width: 1200px;
  height: 100px;
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

#hero-section {
  color: black;
  height: 1000px;
}

#hero-section > div {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#hero-section>img {
  height: 50%;
  object-fit: cover;
}

#each-how-section-1 {
  display:flex;
  flex-direction: column;
  align-items: center;
  height:30%;
  width: 100%;
  gap: 20px;
}

#each-how-section-2 {
  height: 70%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#each-how-section-2 div {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#each-how-section-2 div img {
  height: 50%;
}
