* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 241);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

button:hover {
  cursor:pointer;
}
.each-section {
  height: 500px;
  width: 1200px;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

.button-row {
  display: flex;
  gap: 10px;
}

.black-button {
  color: white;
  background-color: black;
  padding: 10px;
}

.white-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

#navbar, #footer{
  width: 1200px;
  height: 100px;
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

#hero-section {
  color: black;
  height: 1000px;
}

#hero-section > div {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#hero-section>img {
  height: 50%;
  object-fit: cover;
}

#each-how-section-1 {
  display:flex;
  flex-direction: column;
  align-items: center;
  height:30%;
  width: 100%;
  gap: 20px;
}

#each-how-section-2 {
  height: 70%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#each-how-section-2 div {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#each-how-section-2 div img {
  height: 50%;
  margin-bottom: 20px;
}

#testimonial-section {
  background-color: rgb(233, 254, 250);
  padding: 0px 200px;
  display: flex;
  gap: 20px;
}

#sign-up-section {
  padding: 0px 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color:rgb(137, 235, 202)
}

#sign-up-field-container {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#email-input {
  font-size:larger;
  width: 400px;
  height: 100%;
  border-style: none;
  border-bottom: 1px rgb(210, 210, 210) solid;
  background-color: rgb(137, 235, 202);
}
